*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(51, 74, 204, 1) 0%, rgba(0, 0, 0, 1) 56%);
}


.reg{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
        background: radial-gradient(circle, rgba(51, 74, 204, 1) 0%, rgba(0, 0, 0, 1) 56%);

    align-items: center;
}

.reg-a{
    background-color: rgba(247, 244, 244,0.1);
    width: 40%;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
}


#he{font-size: 30px;
    padding-bottom: 30px;
    color: white;
}

.a{
    display: flex;
    width: 50%;
    padding: 30px 0px 8px 0px;
}

#course{
    width: 90%;
    padding: 4px 4px 4px 6px;
    font-size: 16px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgb(230, 190, 190);
    font-size: 16px;
}

.for-inquiry{
    display: flex;
    flex-direction: row;
    font-size: 23px;
    justify-content: space-evenly;
}

.for-inquiry label{
    color: white;
}

.b{
    display: flex;
    /* gap: 30px; */
    font-size: 20px;
    justify-content:start;
}

.b-a{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.b-a input{
    padding: 4px 4px 4px 6px;
    font-size: 16px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgb(230, 190, 190);
}

.b-a label{
    padding:10px 0px 3px 5px;
    color: white;
}

.c{
    display: flex;
    padding: 30px 0px 20px 0px;
    /* justify-content: center; */
    align-items: center;
}

.c button{ background-color: rgb(79, 79, 211);
    color: white;
    padding: 10px 20px 10px 20px ;
    border: none;
    border-radius: 20px;
    cursor:pointer;
}

.c button:hover{
    background-color: blue;
}


@media (max-width: 980px){
    .b{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .b-a{width: 100%;}

    .b input{
        width: 100%;
    }
}